body{
  background-color:#EAF6F6;
}
hr{
  background-color: white;
  border-color: grey;
  border-width: 5px;
  border-style: dotted none none;
  width: 5%;
}
h1{
  color: #66BFBF;
}
h3{
  color: #66BFBF;
}
.myimg{
  border-radius:100%;
}
